# Adult data

In [1]:
import pandas as pd
import numpy as np

In [6]:
adult = pd.read_csv('data/adult.data.csv')
adult.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [10]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
adult.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [11]:
adult.describe(include = ['object'])

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,salary
count,32561,32561,32561,32561,32561,32561,32561,32561,32561
unique,9,16,7,15,6,5,2,42,2
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,22696,10501,14976,4140,13193,27816,21790,29170,24720

## 1. Сколько женщин (признак sex) представлено в этом наборе данных?

In [16]:
adult['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

## 2. Каков средний возраст (признак age) женщин?

In [20]:
adult[adult['sex'] =='Female']['age'].mean()

36.858230433571627

In [26]:
adult.groupby(by = ['sex'])[['age']].describe(percentiles = [])

                       age
sex
Female count  10771.000000
       mean      36.858230
       std       14.013697
       min       17.000000
       50%       35.000000
       max       90.000000
Male   count  21790.000000
       mean      39.433547
       std       13.370630
       min       17.000000
       50%       38.000000
       max       90.000000

In [27]:
adult.groupby(by = ['sex'])[['age']].agg(np.mean)

              age
sex
Female  36.858230
Male    39.433547

## 3. Какова доля граждан Германии (признак native-country) в процентах?

In [53]:
country = adult['native-country'].value_counts(normalize = True)*100
country

United-States                 89.585701
Mexico                         1.974755
?                              1.790486
Philippines                    0.608089
Germany                        0.420749
Canada                         0.371610
Puerto-Rico                    0.350112
El-Salvador                    0.325543
India                          0.307116
Cuba                           0.291760
England                        0.276404
Jamaica                        0.248764
South                          0.245693
China                          0.230337
Italy                          0.224195
Dominican-Republic             0.214981
Vietnam                        0.205768
Guatemala                      0.196554
Japan                          0.190412
Poland                         0.184270
Columbia                       0.181198
Taiwan                         0.156629
Haiti                          0.135131
Iran                           0.132060
Portugal                       0.113633
Nicaragua                      0.104419
Peru                           0.095206
Greece                         0.089064
France                         0.089064
Ecuador                        0.085992
Ireland                        0.073708
Hong                           0.061423
Trinadad&Tobago                0.058352
Cambodia                       0.058352
Thailand                       0.055281
Laos                           0.055281
Yugoslavia                     0.049139
Outlying-US(Guam-USVI-etc)     0.042996
Honduras                       0.039925
Hungary                        0.039925
Scotland                       0.036854
Holand-Netherlands             0.003071
Name: native-country, dtype: float64

## 4. Каковы средние и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) (44 +- 10.5)?

In [61]:
adult['salary'].value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [67]:
adult[adult['salary'] == '>50K'][['age']].describe()

               age
count  7841.000000
mean     44.249841
std      10.519028
min      19.000000
25%      36.000000
50%      44.000000
75%      51.000000
max      90.000000

## 5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает менее 50K в год (признак salary)

In [68]:
adult[adult['salary'] == '<=50K'][['age']].describe()

                age
count  24720.000000
mean      36.783738
std       14.020088
min       17.000000
25%       25.000000
50%       34.000000
75%       46.000000
max       90.000000

In [69]:
adult.groupby(by = ['salary'])[['age']].describe(percentiles = [])

                       age
salary
<=50K  count  24720.000000
       mean      36.783738
       std       14.020088
       min       17.000000
       50%       34.000000
       max       90.000000
>50K   count   7841.000000
       mean      44.249841
       std       10.519028
       min       19.000000
       50%       44.000000
       max       90.000000

In [75]:
adult.groupby(by = ['salary'])[['age']].agg([np.mean, np.std])

              age
             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

## 6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education равен Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate) (нет)

In [78]:
adult[adult['salary'] == '>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th', '10th',
       '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

## 7. Каков максимальный возраст мужчин расы Amer-Indian-Eskimo?

In [81]:
adult[(adult['sex']=='Male') & (adult['race'] == 'Amer-Indian-Eskimo')]['age'].max()

82

## 8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status для женатых равен Married-civ-spouse, Married-spouse-absent или Married-AF-spouse)

In [88]:
pd.crosstab(adult['marital-status'],adult['salary'], normilize = True)

TypeError: crosstab() got an unexpected keyword argument 'normilize'